@model IEnumerable<RobotStore.Models.Robot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find by Task:<select class="custom-select" name="SearchString" value="@ViewData["currentFilter"]" asp-items="Html.GetEnumSelectList<TaskList>()"><option>Please Select</option></select>
    </div>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TaskSortParm"]">@Html.DisplayNameFor(model => model.Task)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModeSortParm"]">@Html.DisplayNameFor(model => model.Mode)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AvailableSortParm"]">@Html.DisplayNameFor(model => model.Available)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RobotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RobotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RobotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
